/* Appwide Stylings */

body {
  font-family: 'Arial', sans-serif;
  background-color: #F2E9E4;
  color: #22223b;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: 'Georgia', serif;
}

a {
  color: #9A8C98;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #4A4E69;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}